<section class="bg-gray-950 w-full h-screen flex items-center justify-center">
  <div id="landing" class="container text-white w-full m-8 h-4/5 relative  p-8 flex items-center justify-center">
    <div>
      <h1 class="text-3xl md:text-6xl mb-4 font-bold">Welcome to Developers Assam!</h1>
      <p class="text-lg mb-8">Join us to connect with fellow developers and organizations, share knowledge, and collaborate on exciting projects.</p>
      <a href="#" class="bg-red-500 hover:bg-white text-white hover:text-red-500 font-bold py-2 px-4 rounded">Join Now</a>
    </div>
  </div>
</section>
<section>

</section>